## PROJECT 1

1/3/2024

Brandon Welsh

The goal of this is to explore a covid-19 dataset to determine the relationship between a patient having cardiovascular disease, obesity, and/or tobacco usage and each of these independent variable's effects on the dependent variables of hospitalization, intubation, ICU admission, and death.

Variables key (for reference):

sex: 1 for female and 2 for male.

age: of the patient.

classification: covid test findings. Values 1-3 mean that the patient was diagnosed with covid in different

degrees. 4 or higher means that the patient is not a carrier of covid or that the test is inconclusive.

patient type: type of care the patient received in the unit. 1 for returned home and 2 for hospitalization.

pneumonia: whether the patient already have air sacs inflammation or not.

pregnancy: whether the patient is pregnant or not.

diabetes: whether the patient has diabetes or not.

copd: Indicates whether the patient has Chronic obstructive pulmonary disease or not.

asthma: whether the patient has asthma or not.

inmsupr: whether the patient is immunosuppressed or not.

hypertension: whether the patient has hypertension or not.

cardiovascular: whether the patient has heart or blood vessels related disease.

renal chronic: whether the patient has chronic renal disease or not.

other disease: whether the patient has other disease or not.

obesity: whether the patient is obese or not.

tobacco: whether the patient is a tobacco user.

usmr: Indicates whether the patient treated medical units of the first, second or third level.

medical unit: type of institution of the National Health System that provided the care.

intubed: whether the patient was connected to the ventilator.

icu: Indicates whether the patient had been admitted to an Intensive Care Unit.

date died: If the patient died indicate the date of death, and 9999-99-99 otherwise.

Source of dataset key: https://www.kaggle.com/datasets/meirnizri/covid19-dataset?rvi=1

## IMPORT LIBRARIES

In [56]:
import pandas as pd

## LOAD IN THE DATA

In [57]:
df = pd.read_csv('resources/Covid Data.csv')
df.head(10)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
5,2,1,1,2,9999-99-99,2,1,40,2,2,...,2,2,2,2,2,2,2,2,3,2
6,2,1,1,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
7,2,1,1,1,9999-99-99,97,1,64,2,1,...,2,1,1,2,2,2,1,2,3,97
8,2,1,1,2,9999-99-99,2,2,37,2,1,...,2,2,1,2,2,1,2,2,3,2
9,2,1,1,2,9999-99-99,2,2,25,2,2,...,2,2,2,2,2,2,2,2,3,2

## INITIAL DATA EXPLORATION

In [58]:
df.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,7.952288e+01,3.346831e+00,4.179410e+01,4.976558e+01,2.186404e+00,2.260569e+00,2.242626e+00,2.298132e+00,2.128989e+00,2.435143e+00,2.261810e+00,2.125176e+00,2.257180e+00,2.214333e+00,5.305653e+00,7.955397e+01
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.686889e+01,1.191288e+01,1.690739e+01,4.751073e+01,5.424242e+00,5.132258e+00,5.114089e+00,5.462843e+00,5.236397e+00,6.646676e+00,5.194850e+00,5.175445e+00,5.135354e+00,5.323097e+00,1.881165e+00,3.682307e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00,9.700000e+01
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,9.700000e+01
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,7.000000e+00,9.900000e+01

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

## PROJECT SCOPE REMINDER

I am looking at the following INDEPENDENT VARIABLES:

    cardiovascular - if they have cardiovascular disease (yes or no)

    obesity - if they are fat (yes or no)

    tobacco - if they smoke (yes or no)

With these, I am seeing how they affect the following DEPENDENT VARIABLES:

    patient type - 1 if they went home, 2 if they were hospitalized

    icu - whether they went into the ICU (yes or no)

    death - make new column using data from date died, make it boolean
    
    intubed - ventilator (yes or no)

## DATA CLEANING

In [60]:
# I want to trim this dataframe so I only look at columns relevant to this project.
# I can create a list of columns I wish to keep:
columns_all = ['MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED', 'AGE', 'CARDIOVASCULAR', 'OBESITY', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU']

# I may also want ones that keep only specific independent variables:
#columns_cardio = ['MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED', 'AGE', 'CARDIOVASCULAR', 'CLASIFFICATION_FINAL', 'ICU']
#columns_obesity = ['MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED', 'AGE', 'OBESITY', 'CLASIFFICATION_FINAL', 'ICU']
#columns_tobacco = ['MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED', 'AGE', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU']

# Finally, I need to store all of these as their own, well-named dataframes:
df_trimmed_all = df[columns_all]

# I can quickly check that each of these were done correctly:
print(df_trimmed_all.columns)

Index(['MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED', 'AGE',
       'CARDIOVASCULAR', 'OBESITY', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [61]:
# I want to be able to look at these columns and figure out what the data looks like:
for column in df_trimmed_all.columns:
    print(df_trimmed_all[column].value_counts())
    print("\n")

MEDICAL_UNIT
12    602995
4     314405
6      40584
9      38116
3      19175
8      10399
10      7873
5       7244
11      5577
13       996
7        891
2        169
1        151
Name: count, dtype: int64


SEX
1    525064
2    523511
Name: count, dtype: int64


PATIENT_TYPE
1    848544
2    200031
Name: count, dtype: int64


DATE_DIED
9999-99-99    971633
06/07/2020      1000
07/07/2020       996
13/07/2020       990
16/06/2020       979
               ...
24/11/2020         1
17/12/2020         1
08/12/2020         1
16/03/2021         1
22/04/2021         1
Name: count, Length: 401, dtype: int64


INTUBED
97    848544
2     159050
1      33656
99      7325
Name: count, dtype: int64


AGE
30     27010
31     25927
28     25313
29     25134
34     24872
       ...
114        2
116        2
111        1
121        1
113        1
Name: count, Length: 121, dtype: int64


CARDIOVASCULAR
2     1024730
1       20769
98       3076
Name: count, dtype: int64


OBESITY
2     885727
1     159816
98      3032
Name: count, dtype: int64


TOBACCO
2     960979
1      84376
98      3220
Name: count, dtype: int64


CLASIFFICATION_FINAL
7    499250
3    381527
6    128133
5     26091
1      8601
4      3122
2      1851
Name: count, dtype: int64


ICU
97    848544
2     175685
1      16858
99      7488
Name: count, dtype: int64

In [62]:
# I want to create a new column called DEAD. If date = 99-99-9999, then alive, else dead.
# can do this with a lambda function:
df_trimmed_all['DEAD'] = df_trimmed_all['DATE_DIED'].apply(
    lambda x: 'ALIVE' if x == '9999-99-99' else 'DEAD')
df_trimmed_all

C:\Users\brand\AppData\Local\Temp\ipykernel_121320\2628882908.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trimmed_all['DEAD'] = df_trimmed_all['DATE_DIED'].apply(

,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,AGE,CARDIOVASCULAR,OBESITY,TOBACCO,CLASIFFICATION_FINAL,ICU,DEAD
0,1,1,1,03/05/2020,97,65,2,2,2,3,97,DEAD
1,1,2,1,03/06/2020,97,72,2,1,2,5,97,DEAD
2,1,2,2,09/06/2020,1,55,2,2,2,3,2,DEAD
3,1,1,1,12/06/2020,97,53,2,2,2,7,97,DEAD
4,1,2,1,21/06/2020,97,68,2,2,2,3,97,DEAD
...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,13,2,1,9999-99-99,97,40,2,2,2,7,97,ALIVE
1048571,13,2,2,9999-99-99,2,51,2,2,2,7,2,ALIVE
1048572,13,2,1,9999-99-99,97,55,2,2,2,7,97,ALIVE
1048573,13,2,1,9999-99-99,97,28,2,2,2,7,97,ALIVE
1048574,13,2,1,9999-99-99,97,52,2,2,2,7,97,ALIVE

In [63]:
# I like that DEAD column. I want to do that to all of the columns.
# I want to now recode all the junk data (I do not want to analyze 1s and 2s, I want to analyze yes or no)

# I want to keep the original dataframe intact for reference (and to make sure I recoded it right):
df_recoded = df_trimmed_all

# I can use the map function to change variables (referring to the key I put in the markdown at the top of this thing):
df_recoded.loc[:, 'SEX'] = df_recoded['SEX'].map({1: 'FEMALE', 2: 'MALE'})
df_recoded.loc[:, 'PATIENT_TYPE'] = df_recoded['PATIENT_TYPE'].map({1: 'SENT HOME', 2: 'HOSPITALIZED'})
df_recoded.loc[:, 'INTUBED'] = df_recoded['INTUBED'].map({1: 'YES', 2: 'NO'})
df_recoded.loc[:, 'CARDIOVASCULAR'] = df_recoded['CARDIOVASCULAR'].map({1: 'YES', 2: 'NO'})
df_recoded.loc[:, 'OBESITY'] = df_recoded['OBESITY'].map({1: 'YES', 2: 'NO'})
df_recoded.loc[:, 'TOBACCO'] = df_recoded['TOBACCO'].map({1: 'YES', 2: 'NO'})
df_recoded.loc[:, 'ICU'] = df_recoded['ICU'].map({1: 'YES', 2: 'NO'})

# This last one is tricky. Anything 4 or higher means negative or inconclusive covid test.
# As for what 1-3 means, it is varying degrees of covid but idk if 3 is severe or if 1 is.
# For now, I will call them COVID-1 thru COVID-3 until I can determine which are which.
df_recoded.loc[:, 'CLASIFFICATION_FINAL'] = df_recoded['CLASIFFICATION_FINAL'].map(
    {1: 'COVID-1',
      2: 'COVID-2',
        3: 'COVID-3',
          4: 'NOT COVID',
            5: 'NOT COVID',
              6: 'NOT COVID',
                7: 'NOT COVID'})

#I am leaving MEDICAL_UNIT alone for now because I don't know what the differences are.

df_recoded
# That looks MUCH better. Side effect of doing this, anything not listed now shows
# as NaN, which makes it MUCH easier to drop columns with null values

,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,AGE,CARDIOVASCULAR,OBESITY,TOBACCO,CLASIFFICATION_FINAL,ICU,DEAD
0,1,FEMALE,SENT HOME,03/05/2020,NaN,65,NO,NO,NO,COVID-3,NaN,DEAD
1,1,MALE,SENT HOME,03/06/2020,NaN,72,NO,YES,NO,NOT COVID,NaN,DEAD
2,1,MALE,HOSPITALIZED,09/06/2020,YES,55,NO,NO,NO,COVID-3,NO,DEAD
3,1,FEMALE,SENT HOME,12/06/2020,NaN,53,NO,NO,NO,NOT COVID,NaN,DEAD
4,1,MALE,SENT HOME,21/06/2020,NaN,68,NO,NO,NO,COVID-3,NaN,DEAD
...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,13,MALE,SENT HOME,9999-99-99,NaN,40,NO,NO,NO,NOT COVID,NaN,ALIVE
1048571,13,MALE,HOSPITALIZED,9999-99-99,NO,51,NO,NO,NO,NOT COVID,NO,ALIVE
1048572,13,MALE,SENT HOME,9999-99-99,NaN,55,NO,NO,NO,NOT COVID,NaN,ALIVE
1048573,13,MALE,SENT HOME,9999-99-99,NaN,28,NO,NO,NO,NOT COVID,NaN,ALIVE
1048574,13,MALE,SENT HOME,9999-99-99,NaN,52,NO,NO,NO,NOT COVID,NaN,ALIVE

In [65]:
# I want to see null value counts:
for column in columns_all:
    print(f"Null values in {column}: ", df_recoded[column].isnull().sum())

Null values in MEDICAL_UNIT:  0
Null values in SEX:  0
Null values in PATIENT_TYPE:  0
Null values in DATE_DIED:  0
Null values in INTUBED:  855869
Null values in AGE:  0
Null values in CARDIOVASCULAR:  3076
Null values in OBESITY:  3032
Null values in TOBACCO:  3220
Null values in CLASIFFICATION_FINAL:  0
Null values in ICU:  856032

There are a reasonable number of nulls in OBESITY, TOBACCO, AND CARDIOVASCULAR, so I can pretty easily drop those. However, there are a huge number of nulls (80% of the dataset) in INTUBED and ICU. Removing these rows would wipe out a lot of otherwise good data. So I'm going to have to make two cleaned dataframes. One which keeps those null values in INTUBED and ICU, and the other which drops all of the null values in the entire dataframe.

In [66]:
# I can drop nulls from specific columns using subset
df_cleaned = df_recoded.dropna(subset=['OBESITY', 'TOBACCO', 'CARDIOVASCULAR'])

# As for the other one, let's just go full hog
df_cleaned_heavily = df_recoded.dropna()

print(df_cleaned)
print(df_cleaned_heavily)

         MEDICAL_UNIT     SEX  PATIENT_TYPE   DATE_DIED INTUBED  AGE  \
0                   1  FEMALE     SENT HOME  03/05/2020     NaN   65
1                   1    MALE     SENT HOME  03/06/2020     NaN   72
2                   1    MALE  HOSPITALIZED  09/06/2020     YES   55
3                   1  FEMALE     SENT HOME  12/06/2020     NaN   53
4                   1    MALE     SENT HOME  21/06/2020     NaN   68
...               ...     ...           ...         ...     ...  ...
1048570            13    MALE     SENT HOME  9999-99-99     NaN   40
1048571            13    MALE  HOSPITALIZED  9999-99-99      NO   51
1048572            13    MALE     SENT HOME  9999-99-99     NaN   55
1048573            13    MALE     SENT HOME  9999-99-99     NaN   28
1048574            13    MALE     SENT HOME  9999-99-99     NaN   52

        CARDIOVASCULAR OBESITY TOBACCO CLASIFFICATION_FINAL  ICU   DEAD
0                   NO      NO      NO              COVID-3  NaN   DEAD
1                   NO     YES      NO            NOT COVID  NaN   DEAD
2                   NO      NO      NO              COVID-3   NO   DEAD
3                   NO      NO      NO            NOT COVID  NaN   DEAD
4                   NO      NO      NO              COVID-3  NaN   DEAD
...                ...     ...     ...                  ...  ...    ...
1048570             NO      NO      NO            NOT COVID  NaN  ALIVE
1048571             NO      NO      NO            NOT COVID   NO  ALIVE
1048572             NO      NO      NO            NOT COVID  NaN  ALIVE
1048573             NO      NO      NO            NOT COVID  NaN  ALIVE
1048574             NO      NO      NO            NOT COVID  NaN  ALIVE

[1044566 rows x 12 columns]
         MEDICAL_UNIT     SEX  PATIENT_TYPE   DATE_DIED INTUBED  AGE  \
2                   1    MALE  HOSPITALIZED  09/06/2020     YES   55
5                   1  FEMALE  HOSPITALIZED  9999-99-99      NO   40
8                   1  FEMALE  HOSPITALIZED  9999-99-99      NO   37
9                   1  FEMALE  HOSPITALIZED  9999-99-99      NO   25
11                  1    MALE  HOSPITALIZED  9999-99-99      NO   24
...               ...     ...           ...         ...     ...  ...
1048553            13  FEMALE  HOSPITALIZED  9999-99-99      NO   61
1048554            13  FEMALE  HOSPITALIZED  9999-99-99      NO   63
1048567            13  FEMALE  HOSPITALIZED  9999-99-99      NO   23
1048569            13  FEMALE  HOSPITALIZED  9999-99-99      NO   56
1048571            13    MALE  HOSPITALIZED  9999-99-99      NO   51

        CARDIOVASCULAR OBESITY TOBACCO CLASIFFICATION_FINAL ICU   DEAD
2                   NO      NO      NO              COVID-3  NO   DEAD
5                   NO      NO      NO              COVID-3  NO  ALIVE
8                   NO     YES      NO              COVID-3  NO  ALIVE
9                   NO      NO      NO              COVID-3  NO  ALIVE
11                  NO      NO      NO              COVID-3  NO  ALIVE
...                ...     ...     ...                  ...  ..    ...
1048553             NO      NO      NO            NOT COVID  NO  ALIVE
1048554             NO     YES      NO            NOT COVID  NO  ALIVE
1048567             NO     YES      NO            NOT COVID  NO  ALIVE
1048569             NO      NO      NO            NOT COVID  NO  ALIVE
1048571             NO      NO      NO            NOT COVID  NO  ALIVE

[190979 rows x 12 columns]

Looks like that has left me with two datasets:

df_cleaned has 1,044,566 entries (4,009 nulls were removed - 0.3% of the data)

df_cleaned_heavily has 190,979 entries (857,596 nulls were removed - 81.9% of the data)